


<div class="container">
 <br />
  <h2>Find Your Favorite Bookstore</h2>
   <br />
  <% @grimoires.each do |grimoire| %>

    <div class="list-group-success">
    
    <a href="#" class="list-group-item list-group-item-action list-group-item-light"><%= grimoire.name %></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning"><%= grimoire.address %></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light"><%= grimoire.description %></a>
  </div>

  <hr />
<% end %>

</div>