


<div class="container">
  <h2>Find Your Favorite Bookstore</h2>
  <% @grimoires.each do |grimoire| %>

    <div class="list-group-success">
    
    <a href="#" class="list-group-item active"><%= grimoire.name %></a>
    <a href="#" class="list-group-item"><%= grimoire.address %></a>
    <a href="#" class="list-group-item"><%= grimoire.description %></a>
  </div>

  <hr />
<% end %>

</div>